{% extends "blog/base.html" %}
{% load static %}
{% block title %}
  <title>Rounds</title>
{% endblock %}
{% block content %}
<style>
div :hover {
color: white;
}
.content-section{
  border-radius: 30px;
  box-shadow :2px 2px 3px #66a7d3;
  
}
</style>
  <div   class="infinite-container " >
    {% for post in posts %}
       <div class="article-div infinite-item "  name="{{post.id}}">
      
      <article class="media content-section "  >
        <img class="rounded-circle article-img"
        src="{{ post.author.profile.image_thumbnail_user.url }}">
                   <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"
                 href="{% url 'profile' post.author.username %}">{{ post.author }}
              </a>

            </div>
            <div class="img-heading-wrap">
              
              <p class="h-font">
                <a class="article-title"
                     href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}
                  </a>
              </p>              
            </div>
            <a class="read-more" href="{% url 'blog:post-detail' post.slug %}"><small>Read More</small></a>
           
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}
            </small> 
            
          </div>

        </article>
      
      </div>

    {% empty %}
      {% include "blog/no_posts_home.html" %}
    {% endfor %}
  </div>
  <div class="loading" style="display: none;">
    Loading...
    <br>
  </div>
  {% if posts.has_next %}
    <a class="infinite-more-link" style="display: none;" href="?page={{ posts.next_page_number }}">More</a>
  {% endif %}
{% endblock content %}

{% block script %}
      <script>
          var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
              $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
              $('.loading').hide();
            }
          });
      </script>
{% endblock %}